* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e1823;
  font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.adv-list {
  background-color: #1b414b;
  border-radius: 24px;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}

.adv-item {
}
.num {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  margin-bottom: 18px;
  padding-bottom: 18px;
  position: relative;
}

.num::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(251, 251, 251, 0.1);
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}

.adv-item:nth-of-type(1) .text {
  max-width: 238px;
}

.adv-item:nth-of-type(2) .text {
  max-width: 199px;
}
.adv-item:nth-of-type(3) .text,
.adv-item:nth-of-type(4) .text {
  max-width: 292px;
}

.wrapp-img {
}
.img-yach {
  border-radius: 24px;
  min-height: 424px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .adv-list {
    padding: 90px 32px;
    flex-direction: row;
    gap: 0 32px;
    flex-wrap: wrap;
  }

  .adv-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .adv-list .adv-item:nth-child(1) {
    margin-bottom: 44px;
  }

  .adv-list .adv-item:nth-child(2) {
    margin-bottom: 59px;
  }

  .num {
    font-size: 32px;
  }

  .text {
    font-size: 13px;
    line-height: 1.15;
  }

  .adv-item:nth-of-type(2) .text {
    max-width: 216px;
  }

  .img-yach {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }

  .section-adv .container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .adv-list {
    padding: 90px 50px;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .num::before {
    max-width: 280px;
  }

  .adv-list .adv-item {
    max-width: 292px;
  }

  .adv-list .adv-item:nth-child(1) {
    max-width: 280px;
  }

  .wrapp-img {
    flex-shrink: 0;
  }

  .img-yach {
    width: 432px;
  }
}
